.encabezado {
    width: 100vw;
    height: 70px;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
    background-color: #002855;
    color: white;
}

.encabezado nav a {
    color: #ccc;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.1rem;
}
  
.encabezado nav a:hover {
    color: white;
}
  
.menu-navegacion {
    display: flex;
    gap: 24px;
  }

.menu-navegacion a {
    font-size: 14px;
    color: #F3F3F3;
    text-decoration: none;
    transition: color 0.2s;
  }
  
.menu-navegacion a:hover {
    color: white;
  }

.barra-central {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.boton-sesion {
    background-color: #FEE191;
    color: #1f1f1f;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
.boton-sesion:hover {
    background-color: #fcd76a;
}
  
.logo {
    width: 210px;
    height: auto;
    margin-right: 1rem;
  }
