.pie-pagina {
    background-color: #002855;
    color: white;
    padding: 20px 32px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.pie-contenido {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }

.pie-contacto {
    flex: 1;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -4%;
  }

.pie-contacto p {
    margin: 4px 0 0;
  }

.pie-copy {
    font-size: 13px;
    color: #ffffff;
    text-align: center;
  }

.pie-redes {
    display: flex;
    gap: 50px;
    margin-right: 5%;
  }

.icono-red {
    width: 24px;
    height: 24px;   
  }
  

.logo {
    width: 210px;
    height: auto;
    margin-right: 1rem;
  }